<section
  id="experiencia"
  data-section="experiencia"
  class=""
>
  <h2
    class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
  >
  🛠️
    Experiencia laboral
  </h2>
  <ol class="relative mt-16">
  <li class="">
      <div
        class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4]"
      >
        <div class="relative pb-12 md:col-span-2">
          <div class="sticky top-0">
            <span
              class="text-cyan-500 -left-[42px] absolute rounded-full text-5xl"
              >•</span
            >
            <h3 class="text-xl font-bold text-cyan-500">
              Fullstack Engineer
            </h3>
            <h4 class="font-semibold text-xl text-gray-600 dark:text-white">
              <a href="https://softicslab.com/" rel="noopener noreferrer" target="_blank">
                SofticsLab
              </a>
            </h4>
            <time class="p-0 m-0 text-sm text-gray-600/80 dark:text-white/80"
              >Junio 2022 - Julio 2024</time
            >
          </div>
        </div>
        <div
          class="relative flex flex-col gap-2 pb-4 text-gray-600 dark:text-gray-300 md:col-span-3"
        >
        <ol>
          <li>Implementé soluciones web utilizando Vue.js para el frontend y Laravel para el backend, optimizando la experiencia del usuario y garantizando la eficiencia del sistema.</li>
          <li class="mt-2">Diseñé y modelé bases de datos para el desarrollo de aplicaciones empresariales, asegurando una arquitectura robusta y eficiente.</li>
        </ol>
        </div>
      </div>
    </li>
  </ol>
</section>
