<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="bg-cyan-600 flex px-3 text-sm font-medium rounded-md text-gray-600 dark:text-gray-200 justify-center items-center"
  >
    <a
      class="relative block px-2 py-2 transition hover:text-gray-500 dark:hover:text-amber-400"
      aria-label="experiencia"
      href="/#experiencia"
  
    >
      Experiencia
    </a><a
      class="relative block px-2 py-2 transition hover:text-gray-500 dark:hover:text-amber-400"
      aria-label="proyectos"
      href="/#proyectos"
  
    >
      Proyectos
    </a>
    <a
      class="relative block px-2 py-2 transition hover:text-gray-500 dark:hover:text-amber-400"
      aria-label="kit-tech"
      href="/#kit-tech"
  
    >
      Tecnologías
    </a>
    <a
      class="relative block px-2 py-2 transition hover:text-gray-500 dark:hover:text-amber-400"
      aria-label="sobre-mi"
      href="/#sobre-mi"
  
    >
      Sobre mí
    </a>

    <!-- <div class="relative ml-1 mr-1">
      <button
        id="theme-toggle-btn"
        class="appearance-none border-none flex hover:scale-125 transition"
      >
        <span class="sr-only">Elige el tema</span>
        Tema
      </button>
    </div> -->
  </nav>
</header>
